{% extends 'polls/layout.html' %}
{% block content %}
  {% if latest_question_list %}
    {% for question in latest_question_list %}
      <a href="{% url 'view' question.id %}">
        <div class="card bg-dark-subtle" style="width: 50vw;">
          <div class="card-body">
            <h5 class="text-center">{{ question.question_text }}</h5>
          </div>
        </div>
      </a>
    {% endfor %}
  {% else %}
    <p>No polls are available.</p>
  {% endif %}
{% endblock content%}
{% block title %}Polls | Questions{% endblock title %}
